/*
Box
Border
Background
Text
Others
*/

.body
    color black

section
    lost-center 980px
    height 500px
    background #fafafa

span
    display block
    retinaSprite($icon1_group)

div
    padding 20px
    background #999
    lost-column 1/4 0 10px

