* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  margin: 0;
  outline: none;
}
.body {
  color: #000;
}
section {
  *zoom: 1;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  background: #bbb;
}
section:before {
  content: '';
  display: table;
}
section:after {
  content: '';
  display: table;
  clear: both;
}
span {
  display: block;
  background-image: url("../img/sprites/sprite.png");
  background-position: 0px 0px;
  width: 61px;
  height: 49px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  span {
    background-image: url("../img/sprites/sprite.retina-2x.png");
    background-size: 61px 49px;
  }
}
div {
  padding: 20px;
  background: #999;
  width: calc(99.99% * 1/4 - (10px - 10px * 1/4));
}
div:nth-child(1n) {
  float: left;
  margin-right: 10px;
  clear: none;
}
div:last-child {
  margin-right: 0;
}
div:nth-child(0n) {
  float: right;
}
div:nth-child(0n) {
  margin-right: 0;
}
div:nth-child(0n + 1) {
  clear: left;
}
@media only screen and (max-width: 800px) {
  div {
    width: calc(99.99% * 1/1 - (30px - 30px * 1/1));
  }
  div:nth-child(1n) {
    float: left;
    margin-right: 30px;
    clear: none;
  }
  div:last-child {
    margin-right: 0;
  }
  div:nth-child(1n) {
    float: right;
  }
  div:nth-child(1n) {
    margin-right: 0;
  }
  div:nth-child(1n + 1) {
    clear: left;
  }
}
